<section class="py-5 bg-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <h3 class="text-center text-white">LOCATION</h3>
                    <p class="text-center text-white mb-3">2215 John Daniel Drive</p>
                    <p class="text-center text-white ">Clark, MO 65243</p>

                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <h3 class="text-center text-white">AROUND THE WEB</h3>
                    <ul class="list-unstyled d-flex align-items-center justify-content-around mt-3">
                        <li class="icon-footer"><i class="fa-brands fa-facebook fs-5 abs text-white fa-fw"></i></li>
                        <li class="icon-footer"><i class="fa-brands fa-x-twitter fs-5 abs text-white fa-fw"></i></li>
                        <li class="icon-footer"><i class="fa-brands fa-linkedin fs-5 abs text-white fa-fw"></i></li>
                        <li class="icon-footer"><i class="fa-solid fa-earth-americas fs-5 abs text-white fa-fw"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <h3 class="text-center text-white">ABOUT FREELANCER</h3>
                    <p class="text-center text-white mb-3">Freelance is a free to use, licensed Bootstrap theme created
                        by Route</p>

                </div>
            </div>

        </div>
    </div>

</section>
<section class="py-4 bg-footer1 ">
    <p class="text-white text-center  m-0">Copyright © Your Website 2021</p>

</section>