<div class="container py-4">
    <div class="row">
        
        @for (p of recomendProduct; track $index) {
            <div class="col-md-3">
                <div class="bg-card rounded-5">
                    <img class="w-100 rounded-5" [src]="p.pimg" alt="">
                    <div class=" d-flex align-items-center justify-content-between">
                        <h5 class="p-1 fs-6 text-white">Name : {{p.Pname}} </h5>
                        <h5 class="p-1 fs-6 text-white">Price : {{p.pprice}} </h5>
                    </div>
                    <p class="text-center text-white pb-2">{{p.pdisc}}</p>

                </div>
               
            </div>   
        }
    </div>
</div>
