<section class="py-5 ">
    <div class="cintainer">
        <h1 class="text-center color-nav  ">CONATCT SECTION</h1>
      <div class="position-relative">
        <div class="after text-center"><i class="fa-solid fa-star color-nav"></i></div>
      </div>
    </div>
    <div class="w-50 mx-auto">
        <div class="py-5">
        <input placeholder="userName"  class="form-control mb-5 border-0 bg-transparent border-bottom  " type="text">
        <input placeholder="userAge" class="form-control mb-5 border-0 bg-transparent border-bottom " type="text">
        <input placeholder="userEmail" class="form-control mb-5 border-0 bg-transparent border-bottom " type="text">
        <input placeholder="userPassword" class="form-control mb-5 border-0 bg-transparent border-bottom " type="text">
        <button class="btn text-white bg-nav">send Massege</button>

        </div>

    </div>

</section>