


<section class="py-5 position-relative">
    <div class="  layer d-none d-flex align-items-center justify-content-center position-absolute top-0 start-0 end-0 bottom-0 z-2 bg-layer">
        <div class="w-50 position-relative">
        <img class="w-100 layer-img" src="" alt="">
        <i class="fa-solid fa-xmark fs-3 position-absolute move pointer  "></i>
        

        </div>
    </div>
    <div class="container">
        <h1 class="text-center fw-bolder color-nav">PORTFOLIO COMPONENT</h1>
    </div>
    <div class="position-relative">
        <div class="after text-center"><i class="fa-solid fa-star color-nav"></i></div>
    </div>
    <div class="container py-5">
        <div class="row g-4">
            
            @for (item of portfoloImg; track $index) {
                <div class="col-md-4">
                    <div class="card rounded-5">
                        <img class="w-100 rounded-4" [src]="item" alt="">
                        <div class="hover d-flex align-items-center justify-content-center pointer">
                            <i class="fa-solid fa-eye fs-4"></i>
                        </div>
                    </div>
                    
                </div>
            }
        </div>
    </div>
</section>